.main {
  background-color: #FF5698;
}
h1 {
  text-align: center;
  padding: .5rem;
}

.pages {
  position: sticky;
  top: 0;
  background-color: #DF4783;
  margin: auto;
  padding: .5rem;
}
.searchform {
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-item {
  height: auto;
  background-color: #B53360;
  color:white;
  text-decoration: none;
  padding-left: 1rem;
}

.grid-item:nth-child(1),
.grid-item:nth-child(4n),
.grid-item:nth-child(4n+1) {
  background-color: #DF4783;
}



